@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes fadeInAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.add-vet-section {
  margin-top: 50px; }
  .add-vet-section .add-vets-form h5 {
    font-size: 25px;
    font-weight: 400;
    color: #203459; }
  .add-vet-section .add-vets-form p {
    font-size: 18px;
    font-weight: 300;
    color: #94a6c7; }
  .add-vet-section .add-vets-form form {
    margin-top: 60px; }
    .add-vet-section .add-vets-form form .save-btn-container {
      margin-top: 60px;
      margin-bottom: 200px; }
      @media (max-width: 1440px) {
        .add-vet-section .add-vets-form form .save-btn-container {
          margin-top: 40px; } }
      .add-vet-section .add-vets-form form .save-btn-container .save-btn {
        background: #1d74c1;
        color: white;
        width: 267px;
        height: 88px;
        font-size: 25px;
        font-weight: 400;
        border-radius: 21px;
        transition: 0.5s ease; }
        .add-vet-section .add-vets-form form .save-btn-container .save-btn:hover {
          opacity: 80%; }
        @media (max-width: 1440px) {
          .add-vet-section .add-vets-form form .save-btn-container .save-btn {
            height: unset; } }
    .add-vet-section .add-vets-form form .form-inner-margin {
      margin-bottom: 50px; }
    .add-vet-section .add-vets-form form .padding-right {
      padding-right: 20px; }
    .add-vet-section .add-vets-form form label {
      font-size: 22px;
      font-weight: 400;
      color: #94a6c7;
      margin-bottom: 20px; }
    .add-vet-section .add-vets-form form input {
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      height: 89px;
      border: 1px solid #bedaf1;
      border-radius: 11px; }
      @media (max-width: 1440px) {
        .add-vet-section .add-vets-form form input {
          height: unset; } }
    .add-vet-section .add-vets-form form textarea {
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      border: 1px solid #bedaf1;
      border-radius: 11px;
      resize: none; }
    .add-vet-section .add-vets-form form ::-webkit-input-placeholder {
      /* Edge */
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      opacity: 70%; }
    .add-vet-section .add-vets-form form :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      opacity: 70%; }
    .add-vet-section .add-vets-form form ::placeholder {
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      opacity: 70%; }
    .add-vet-section .add-vets-form form .input-group-prepend {
      text-align: center; }
      .add-vet-section .add-vets-form form .input-group-prepend .input-group-text {
        background: #1d73c2;
        width: 69px;
        justify-content: center;
        font-size: 22px;
        font-weight: 400;
        color: white;
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
        max-height: 89px;
        border: 1px solid #1d73c2; }
    .add-vet-section .add-vets-form form .custom-file label {
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      height: 89px;
      border: 1px solid #bedaf1 !important;
      border-radius: 11px !important;
      overflow: hidden;
      align-items: center;
      display: flex; }
      @media (max-width: 1440px) {
        .add-vet-section .add-vets-form form .custom-file label {
          height: unset; } }
    .add-vet-section .add-vets-form form .custom-file .custom-file-label::after {
      background: transparent;
      border-left: none;
      font-family: FontAwesome;
      content: "\f093";
      color: #94a6c7;
      top: 26%; }
      @media (max-width: 1440px) {
        .add-vet-section .add-vets-form form .custom-file .custom-file-label::after {
          top: 0; } }
    .add-vet-section .add-vets-form form .custom-file input[type="file"] {
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      max-height: 89px;
      border: 1px solid #bedaf1 !important;
      border-radius: 11px !important; }

.sidebar-detail-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .sidebar-detail-wrapper .sidebar {
    width: 272px;
    background-image: linear-gradient(to bottom, #2365c6, #066ec6, #0075c4, #007dc1, #1783bd);
    min-height: 100vh;
    border-right: 1px solid #bed5ff; }
    .sidebar-detail-wrapper .sidebar .sidebar-logo {
      margin-top: 30px;
      margin-bottom: 15px; }
    .sidebar-detail-wrapper .sidebar h6 {
      padding-left: 47px;
      text-transform: uppercase;
      color: white;
      font-weight: 300;
      font-size: 13px;
      margin-bottom: 30px; }
    .sidebar-detail-wrapper .sidebar .divider {
      width: 100%;
      height: 0.5px;
      background: #bed5ff;
      opacity: 24%; }
    .sidebar-detail-wrapper .sidebar .sidebar-menu {
      margin-left: 10px;
      margin-top: 30px;
      padding-bottom: 100px; }
      .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item .active {
        background: white;
        border-radius: 34px 0 0 34px;
        color: #216ac4;
        font-weight: 400; }
      .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item a.nav-link {
        color: #bed5ff;
        position: relative;
        padding: 16px 12px;
        font-size: 15px;
        font-weight: 300; }
        .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item a.nav-link:focus {
          background: white;
          border-radius: 34px 0 0 34px;
          color: #216ac4;
          font-weight: 400; }
        .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item a.nav-link .icon-align {
          font-size: 20px;
          position: absolute;
          left: 10px; }
        .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item a.nav-link .align-inline {
          padding-left: 30px; }
      .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item .collaps-menu ul {
        list-style-type: none;
        padding-left: 55px; }
        .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item .collaps-menu ul li .submenu-active {
          color: white;
          font-weight: 400; }
        .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item .collaps-menu ul li a {
          font-size: 13px;
          font-weight: 300;
          color: #bed5ff;
          text-decoration: none; }
          .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item .collaps-menu ul li a::before {
            content: "\2022";
            color: #bed5ff;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em; }
          .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item .collaps-menu ul li a:hover {
            color: white; }
            .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item .collaps-menu ul li a:hover::before {
              content: "\2022";
              color: white;
              font-weight: bold;
              display: inline-block;
              width: 1em;
              margin-left: -1em; }
      .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item .nav-link[data-toggle="collapse"]::after {
        width: 1rem;
        text-align: center;
        float: right;
        vertical-align: 0;
        border: 0;
        font-weight: 900;
        content: "\f107";
        font-family: "Font Awesome 5 Free"; }
      .sidebar-detail-wrapper .sidebar .sidebar-menu .navbar-nav li.nav-item .nav-link[data-toggle="collapse"].collapsed::after {
        width: 1rem;
        text-align: center;
        float: right;
        vertical-align: 0;
        border: 0;
        font-weight: 900;
        content: "\f105";
        font-family: "Font Awesome 5 Free"; }

.main-content {
  background-color: #f0f8fd;
  width: calc(100% - 272px);
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  min-height: 100vh; }
  .main-content .main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .main-content .main-top .main-top-left .plus-btn {
      background: #2365c6;
      background: linear-gradient(90deg, #2365c6 0%, #2365c6 35%, #1783bd 100%);
      border-radius: 38px;
      width: 139px;
      height: 55px;
      font-size: 18px;
      font-weight: 400;
      position: relative;
      padding-left: 30px; }
      .main-content .main-top .main-top-left .plus-btn .add-icon {
        position: absolute;
        left: 25px; }
    .main-content .main-top .main-top-right {
      display: flex;
      flex-direction: row; }
      .main-content .main-top .main-top-right .search-and-notification {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .main-content .main-top .main-top-right .search-and-notification .search {
          padding-top: 15px; }
          .main-content .main-top .main-top-right .search-and-notification .search button {
            border: none;
            background-color: transparent; }
            .main-content .main-top .main-top-right .search-and-notification .search button img {
              width: 24px;
              height: 24px; }
            .main-content .main-top .main-top-right .search-and-notification .search button:focus {
              outline: none; }
        .main-content .main-top .main-top-right .search-and-notification .notification {
          padding-top: 5px;
          margin-left: 30px; }
          .main-content .main-top .main-top-right .search-and-notification .notification .navbar-nav .nav-item .dropdown-toggle {
            position: relative;
            background: none; }
            .main-content .main-top .main-top-right .search-and-notification .notification .navbar-nav .nav-item .dropdown-toggle::after {
              border: none; }
            .main-content .main-top .main-top-right .search-and-notification .notification .navbar-nav .nav-item .dropdown-toggle img {
              width: 30px;
              height: 30px; }
            .main-content .main-top .main-top-right .search-and-notification .notification .navbar-nav .nav-item .dropdown-toggle .notification-counter {
              position: absolute;
              border: 1px solid white;
              left: 15px;
              top: 13px;
              width: 16px;
              height: 16px;
              font-size: 10px;
              text-align: center;
              align-items: center;
              font-weight: 600;
              background: red;
              color: white;
              border-radius: 50%; }
      .main-content .main-top .main-top-right .right-divider {
        width: 1px;
        height: 44px;
        background: #CCDBE3;
        margin-top: 9px;
        margin-left: 30px;
        margin-right: 30px; }
      .main-content .main-top .main-top-right .menu-dropdown .dropdown .dropdown-toggle {
        background: none;
        padding: 0;
        color: #1E3E59;
        font-size: 18px;
        font-weight: 600;
        font-weight: 700;
        border: 0px;
        border-top: 0px solid;
        z-index: 44; }
        .main-content .main-top .main-top-right .menu-dropdown .dropdown .dropdown-toggle img {
          width: 57px;
          height: 57px;
          border-radius: 50%;
          margin-right: 10px; }
        .main-content .main-top .main-top-right .menu-dropdown .dropdown .dropdown-toggle span {
          margin-right: 5px; }
        .main-content .main-top .main-top-right .menu-dropdown .dropdown .dropdown-toggle::after {
          font-family: FontAwesome;
          content: "\f107";
          display: inline-block;
          padding-right: 3px;
          vertical-align: middle;
          border: none; }
        .main-content .main-top .main-top-right .menu-dropdown .dropdown .dropdown-toggle:focus {
          outline: 0px;
          box-shadow: 0px 0px 0px 0px; }
      .main-content .main-top .main-top-right .menu-dropdown .dropdown .dropdown-menu {
        z-index: 33;
        border: 0px solid;
        width: 100%;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 3px 3px #eff2fb;
        -moz-box-shadow: 0px 0px 3px 3px #eff2fb;
        box-shadow: 0px 0px 3px 3px #eff2fb;
        position: relative;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 200ms;
        animation-duration: 200ms;
        -webkit-animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
        animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1); }
        .main-content .main-top .main-top-right .menu-dropdown .dropdown .dropdown-menu:after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-top: 10px solid transparent;
          border-bottom: 10px solid #FFFFFF;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          left: 85%;
          top: -20px; }
        .main-content .main-top .main-top-right .menu-dropdown .dropdown .dropdown-menu a {
          border-bottom: 1px solid #BEDAF1;
          padding: 10px 0px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 300;
          font-size: 14px;
          color: #1E3E59;
          text-align: center; }
        .main-content .main-top .main-top-right .menu-dropdown .dropdown .dropdown-menu .logout-btn {
          background: #1E72C3;
          color: #ffffff;
          width: 100%;
          border: none;
          border-radius: 20px;
          margin-top: 20px;
          text-transform: uppercase;
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400; }
  .main-content .main-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px; }
    .main-content .main-middle .add-products h3 {
      font-size: 30px;
      font-weight: 400;
      color: #1E3E59; }
    .main-content .main-middle .links-path {
      background: white;
      height: 58px;
      padding-top: 18px;
      padding-left: 35px;
      padding-right: 35px;
      border-radius: 37px; }
      .main-content .main-middle .links-path span {
        font-size: 18px;
        font-weight: 300;
        color: #93AACC; }
  .main-content .product-tab-section .nav {
    margin-top: 40px; }
    .main-content .product-tab-section .nav .nav-item .nav-link {
      font-size: 25px;
      font-weight: 300;
      color: #94A6C7;
      min-width: 196px;
      height: 64px;
      text-align: center;
      align-items: center;
      padding-top: 12px; }
    .main-content .product-tab-section .nav .nav-item .active {
      background: #2268C5;
      color: white;
      border-radius: 32px;
      padding-top: 12px;
      font-weight: 400; }
  .main-content .product-tab-section .tab-content {
    margin-top: 65px; }
    .main-content .product-tab-section .tab-content .tab-pane .attribute-container form .form-group label {
      font-size: 22px;
      color: #94A6C7;
      font-weight: 400;
      text-transform: uppercase; }
    .main-content .product-tab-section .tab-content .tab-pane .attribute-container form .form-group input {
      border: 1px solid #BEDAF1;
      height: 89px;
      border-radius: 11px;
      font-size: 22px;
      color: #94A6C7;
      font-weight: 300; }
    .main-content .product-tab-section .tab-content .tab-pane .attribute-container form .form-group ::-webkit-input-placeholder {
      /* Edge */
      font-size: 22px;
      color: #94A6C7;
      font-weight: 300; }
    .main-content .product-tab-section .tab-content .tab-pane .attribute-container form .form-group :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: 22px;
      color: #94A6C7;
      font-weight: 300; }
    .main-content .product-tab-section .tab-content .tab-pane .attribute-container form .form-group ::placeholder {
      font-size: 22px;
      color: #94A6C7;
      font-weight: 300; }
    .main-content .product-tab-section .tab-content .tab-pane .attribute-container form .save-btn-container {
      margin-top: 65px; }
      .main-content .product-tab-section .tab-content .tab-pane .attribute-container form .save-btn-container .save-btn {
        width: 290px;
        height: 89px;
        background: #1E72C3;
        color: white;
        border-radius: 11px;
        font-weight: 400;
        font-size: 34px;
        transition: 0.5s ease; }
        .main-content .product-tab-section .tab-content .tab-pane .attribute-container form .save-btn-container .save-btn:hover {
          opacity: 80%; }
  .main-content .dashboard-footer {
    position: absolute;
    right: 50px;
    bottom: 70px; }
    .main-content .dashboard-footer p {
      color: #1D72C2;
      font-size: 22px;
      font-weight: 300; }
      @media (max-width: 1440px) {
        .main-content .dashboard-footer p {
          font-size: 18px; } }

@-webkit-keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.menu-active {
  background: white;
  border-radius: 34px 0 0 34px;
  color: #216ac4 !important;
  font-weight: 400 !important; }

.login1-background {
  background: url(../assets/images/login-background.png);
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; }
  .login1-background .signin-form {
    max-width: 636px;
    margin-left: 100px;
    padding-top: 100px; }
    .login1-background .signin-form .sign-in-top {
      position: relative;
      padding: 50px;
      z-index: 999; }
      .login1-background .signin-form .sign-in-top::after {
        position: absolute;
        content: "";
        background: white;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 80%;
        border-radius: 7px; }
      .login1-background .signin-form .sign-in-top .form h2 {
        color: #0A72A1;
        font-weight: 500;
        font-size: 36px;
        margin: 30px 0px; }
      .login1-background .signin-form .sign-in-top .form form .mb-30 {
        margin-bottom: 40px; }
      .login1-background .signin-form .sign-in-top .form form .form-group label {
        color: #203459;
        font-weight: 500;
        font-size: 19px; }
      .login1-background .signin-form .sign-in-top .form form .form-group input {
        background: white !important;
        opacity: 1 !important;
        border: 1px solid #CEE4F5;
        border-radius: 8px; }
      .login1-background .signin-form .sign-in-top .form form .form-group ::placeholder {
        font-size: 16px;
        font-weight: 300;
        color: #94A6C7; }
      .login1-background .signin-form .sign-in-top .form form .form-group ::-webkit-input-placeholder {
        /* Edge */
        font-size: 16px;
        font-weight: 300;
        color: #94A6C7; }
      .login1-background .signin-form .sign-in-top .form form .form-group :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 16px;
        font-weight: 300;
        color: #94A6C7; }
      .login1-background .signin-form .sign-in-top .form form .remember-forgot {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .login1-background .signin-form .sign-in-top .form form .remember-forgot .remember label {
          font-size: 16px;
          font-weight: 500;
          color: #203459;
          user-select: none; }
        .login1-background .signin-form .sign-in-top .form form .remember-forgot .forgot a {
          font-size: 16px;
          font-weight: 500;
          color: #203459; }
      .login1-background .signin-form .sign-in-top .form form .login-button {
        margin-top: 50px; }
        .login1-background .signin-form .sign-in-top .form form .login-button .btn.login-btn {
          background-color: #2464C7;
          color: white;
          font-size: 19px;
          font-weight: 400;
          padding: 12px 65px;
          transition: 0.5s ease;
          border-radius: 8px; }
          .login1-background .signin-form .sign-in-top .form form .login-button .btn.login-btn:hover {
            opacity: 80%; }
    .login1-background .signin-form .sign-in-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 100px;
      padding-bottom: 30px; }
      .login1-background .signin-form .sign-in-bottom .sign-in-bottom-left p {
        color: white;
        font-weight: 300;
        font-size: 16px; }
      .login1-background .signin-form .sign-in-bottom .sign-in-bottom-right ul {
        list-style-type: none; }
        .login1-background .signin-form .sign-in-bottom .sign-in-bottom-right ul li {
          display: inline-block;
          padding-left: 35px; }
          .login1-background .signin-form .sign-in-bottom .sign-in-bottom-right ul li a {
            color: white;
            font-size: 16px;
            font-weight: 300; }

.add-bankDetail-text {
  margin-top: 40px; }

.payment-details h5 {
  font-size: 25px;
  font-weight: 400;
  color: #203459; }

.payment-details p {
  font-size: 25px !important;
  font-weight: 300 !important;
  color: #98A9C9 !important;
  margin-bottom: 50px; }

.payment-details .payment-inner {
  position: relative; }
  .payment-details .payment-inner label {
    color: #203459 !important;
    font-weight: 400; }

.animal-type-link-path {
  background: white;
  height: 58px;
  padding-top: 18px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 37px; }
  .animal-type-link-path span {
    font-size: 18px;
    font-weight: 400 !important;
    color: #1e3e59 !important; }

.animal-type-section .animal-type-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px; }
  .animal-type-section .animal-type-top .animal-type-top-left {
    padding-top: 12px; }
    .animal-type-section .animal-type-top .animal-type-top-left h5 {
      font-size: 25px;
      color: #1e3e59;
      font-weight: 400;
      margin-bottom: 0; }
  .animal-type-section .animal-type-top .animal-type-top-right .plus-btn {
    background: #2365c6;
    background: linear-gradient(90deg, #2365c6 0%, #2365c6 35%, #1783bd 100%);
    border-radius: 38px;
    height: 55px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding-left: 55px; }
    .animal-type-section .animal-type-top .animal-type-top-right .plus-btn .add-icon {
      position: absolute;
      left: 25px; }
  .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content {
    border-radius: 20px; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-header {
      border-bottom: 1px solid #B8D5EC; }
      .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-header h5 {
        font-size: 24px;
        font-weight: 400;
        color: #203459; }
      .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-header .close:focus {
        outline: none;
        border: none;
        box-shadow: none; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body h5 {
      color: #203459;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 0; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body p {
      font-size: 16px;
      font-weight: 300;
      color: #94A6C7; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .form-group label {
      font-size: 16px;
      color: #94A6C7;
      font-weight: 400;
      text-transform: capitalize; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .form-group textarea {
      font-size: 16px;
      color: #94A6C7;
      font-weight: 300;
      border: 1px solid #BEDAF1;
      border-radius: 11px;
      resize: none;
      background: #F9FCFF; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .form-group input {
      background: #F9FCFF;
      border: 1px solid #BEDAF1;
      border-radius: 11px;
      font-size: 16px;
      color: #94A6C7;
      font-weight: 300; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .form-group ::-webkit-input-placeholder {
      /* Edge */
      font-size: 16px;
      color: #94A6C7;
      font-weight: 300; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .form-group :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: 16px;
      color: #94A6C7;
      font-weight: 300; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .form-group ::placeholder {
      font-size: 16px;
      color: #94A6C7;
      font-weight: 300; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .custom-file {
      background: #F9FCFF; }
      .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .custom-file label {
        font-size: 16px;
        color: #94A6C7;
        font-weight: 300;
        border: 1px solid #BEDAF1 !important;
        border-radius: 11px !important;
        overflow: hidden;
        align-items: center;
        display: flex;
        background: #F9FCFF; }
      .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .custom-file .custom-file-label::after {
        background: transparent;
        border-left: none;
        font-family: FontAwesome;
        content: "\f093";
        color: #94A6C7; }
      .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .custom-file input[type="file"] {
        font-size: 22px;
        color: #94A6C7;
        font-weight: 300;
        max-height: 89px;
        border: 1px solid #BEDAF1 !important;
        border-radius: 11px !important;
        background: #F9FCFF; }
    .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .save-btn-container {
      margin-top: 30px; }
      .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .save-btn-container .save-btn {
        background: #2365c6;
        background: linear-gradient(90deg, #2365c6 0%, #2365c6 35%, #1783bd 100%);
        color: white;
        border-radius: 11px;
        font-weight: 400;
        font-size: 18px;
        transition: 0.5s ease;
        padding: 5px 60px; }
        .animal-type-section .animal-type-top .animal-type-top-right .modal .modal-dialog .modal-content .modal-body .animal-form form .save-btn-container .save-btn:hover {
          opacity: 80%; }

.animal-type-section .animal-list {
  box-shadow: 0 3px 6px #707070;
  border-radius: 13px;
  overflow: hidden;
  margin-top: 50px;
  background: white;
  margin-bottom: 200px; }
  .animal-type-section .animal-list .animal-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #2365c6;
    background: linear-gradient(90deg, #2365c6 0%, #2365c6 35%, #1783bd 100%);
    padding: 25px 25px;
    height: 102px; }
    .animal-type-section .animal-list .animal-list-header .animal-list-header-left h5 {
      margin-bottom: 0;
      padding-top: 12px;
      color: white;
      font-size: 25px;
      font-weight: 400; }
    .animal-type-section .animal-list .animal-list-header .animal-list-header-right .search-container {
      position: relative;
      height: 53px; }
      .animal-type-section .animal-list .animal-list-header .animal-list-header-right .search-container .search-box {
        position: relative;
        margin-right: 70px;
        display: none; }
        .animal-type-section .animal-list .animal-list-header .animal-list-header-right .search-container .search-box input {
          width: inherit;
          padding-right: 50px;
          padding: 12px 50px 12px 12px;
          border: 1px solid #707070;
          border-radius: 37px;
          outline: none;
          transition: 0.4s linear;
          font-size: 18px;
          font-weight: 400;
          color: #203459; }
          .animal-type-section .animal-list .animal-list-header .animal-list-header-right .search-container .search-box input ::-webkit-input-placeholder {
            /* Edge */
            color: #94a6c7;
            font-weight: 300; }
          .animal-type-section .animal-list .animal-list-header .animal-list-header-right .search-container .search-box input :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #94a6c7;
            font-weight: 300; }
          .animal-type-section .animal-list .animal-list-header .animal-list-header-right .search-container .search-box input ::placeholder {
            color: #94a6c7;
            font-weight: 300; }
        .animal-type-section .animal-list .animal-list-header .animal-list-header-right .search-container .search-box .search-inner {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translate(50%, -50%);
          transition: 0.4s linear; }
      .animal-type-section .animal-list .animal-list-header .animal-list-header-right .search-container .search-show {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(50%, -50%);
        cursor: pointer; }
      .animal-type-section .animal-list .animal-list-header .animal-list-header-right .search-container .search-hide {
        position: absolute;
        font-size: 24px;
        color: white;
        display: none;
        right: 30px;
        top: 50%;
        transform: translate(50%, -50%);
        cursor: pointer; }
  .animal-type-section .animal-list .animal-list-body .table tbody tr td {
    vertical-align: middle; }
    .animal-type-section .animal-list .animal-list-body .table tbody tr td .type-categories-brand {
      display: flex;
      flex-direction: row;
      align-items: center; }
      @media (max-width: 1440px) {
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .type-categories-brand {
          max-width: 300px; } }
      .animal-type-section .animal-list .animal-list-body .table tbody tr td .type-categories-brand .left {
        width: 81px;
        height: 81px;
        border: 1px solid #707070;
        border-radius: 15px;
        overflow: hidden; }
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .type-categories-brand .left img {
          width: 100%;
          height: 100%; }
      .animal-type-section .animal-list .animal-list-body .table tbody tr td .type-categories-brand .right {
        padding-top: 12px;
        margin-left: 20px; }
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .type-categories-brand .right h6 {
          font-size: 15px;
          font-weight: 400;
          color: #1e3e59;
          margin-bottom: 15px; }
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .type-categories-brand .right p {
          font-size: 13px;
          font-weight: 300;
          color: #94a6c7;
          max-width: 185px;
          line-height: 15px; }
    .animal-type-section .animal-list .animal-list-body .table tbody tr td .type-id {
      font-size: 15px;
      font-weight: 400;
      color: #1e3e59; }
    .animal-type-section .animal-list .animal-list-body .table tbody tr td .date {
      font-size: 15px;
      font-weight: 400;
      color: #1e3e59; }
    .animal-type-section .animal-list .animal-list-body .table tbody tr td .status {
      font-size: 15px;
      font-weight: 400;
      color: #1e3e59; }
    .animal-type-section .animal-list .animal-list-body .table tbody tr td .success {
      color: #15b14e !important; }
    .animal-type-section .animal-list .animal-list-body .table tbody tr td .danger {
      color: #e82835 !important; }
    .animal-type-section .animal-list .animal-list-body .table tbody tr td .action {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .animal-type-section .animal-list .animal-list-body .table tbody tr td .action .edit .edit-btn {
        font-size: 15px;
        font-weight: 500;
        color: #1e3e59;
        padding: 0;
        background: transparent;
        border: none;
        outline: none; }
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .action .edit .edit-btn:focus {
          outline: none;
          border: none;
          box-shadow: none; }
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .action .edit .edit-btn span {
          margin-left: 5px; }
      .animal-type-section .animal-list .animal-list-body .table tbody tr td .action .view .view-btn {
        font-size: 15px;
        font-weight: 500;
        color: #1e3e59;
        padding: 0;
        background: transparent;
        border: none;
        outline: none; }
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .action .view .view-btn:focus {
          outline: none;
          border: none;
          box-shadow: none; }
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .action .view .view-btn span {
          margin-left: 5px; }
      .animal-type-section .animal-list .animal-list-body .table tbody tr td .action .delete .delete-btn {
        font-size: 15px;
        font-weight: 500;
        color: #1e3e59;
        padding: 0;
        background: transparent;
        border: none;
        outline: none; }
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .action .delete .delete-btn:focus {
          outline: none;
          border: none;
          box-shadow: none; }
        .animal-type-section .animal-list .animal-list-body .table tbody tr td .action .delete .delete-btn span {
          margin-left: 5px; }
  @media (max-width: 1440px) {
    .animal-type-section .animal-list .animal-list-body .table tbody tr .first-td-width {
      max-width: 320px; } }
  @media (max-width: 1366px) {
    .animal-type-section .animal-list .animal-list-body .table thead tr .first-td-width {
      max-width: 320px; } }
  .animal-type-section .animal-list .animal-list-body .table-bordered > tbody > tr > td,
  .animal-type-section .animal-list .animal-list-body .table-bordered > tbody > tr > th,
  .animal-type-section .animal-list .animal-list-body .table-bordered > thead > tr > td,
  .animal-type-section .animal-list .animal-list-body .table-bordered {
    border-bottom: 0;
    border-top: 0;
    border-right: 1px solid #b8d5ec;
    padding-left: 25px; }
  .animal-type-section .animal-list .animal-list-body .table-bordered > thead > tr > th,
  .animal-type-section .animal-list .animal-list-body .bottomborder,
  .animal-type-section .animal-list .animal-list-body .table-bordered {
    border-bottom: 1px solid #b8d5ec;
    border-right: 1px solid #b8d5ec;
    padding-left: 25px; }
  .animal-type-section .animal-list .animal-list-body .table thead tr th {
    font-size: 20px;
    font-weight: 400;
    color: #1e3e59; }
  .animal-type-section .animal-list .animal-list-body .table-bordered > thead > tr,
  .animal-type-section .animal-list .animal-list-body .borderleft,
  .animal-type-section .animal-list .animal-list-body .table-bordered {
    border-left: 0; }
  .animal-type-section .animal-list .animal-list-body .table-bordered > thead > tr,
  .animal-type-section .animal-list .animal-list-body .borderright,
  .animal-type-section .animal-list .animal-list-body .table-bordered {
    border-right: 0; }
  .animal-type-section .animal-list .animal-list-pagination {
    display: flex;
    justify-content: flex-end;
    padding: 20px 25px; }
    .animal-type-section .animal-list .animal-list-pagination nav ul li {
      margin-right: 15px; }
      .animal-type-section .animal-list .animal-list-pagination nav ul li:first-child {
        border-radius: 6px; }
      .animal-type-section .animal-list .animal-list-pagination nav ul li .pagination-active {
        color: white;
        background: #197DBE; }
      .animal-type-section .animal-list .animal-list-pagination nav ul li a {
        border-radius: 6px;
        width: 26px;
        height: 26px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #B8D5EC;
        font-size: 15px;
        color: #1E3E59;
        font-weight: 400; }
    .animal-type-section .animal-list .animal-list-pagination nav .pagination-sm .page-item:first-child .page-link {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px; }
    .animal-type-section .animal-list .animal-list-pagination nav .pagination-sm .page-item:last-child .page-link {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px; }

.add-animals {
  margin-top: 50px; }
  .add-animals .add-animals-form h5 {
    font-size: 25px;
    font-weight: 400;
    color: #203459; }
  .add-animals .add-animals-form p {
    font-size: 18px;
    font-weight: 300;
    color: #94a6c7; }
  .add-animals .add-animals-form form {
    margin-top: 60px; }
    .add-animals .add-animals-form form .save-btn-container {
      margin-top: 60px;
      margin-bottom: 200px; }
      @media (max-width: 1440px) {
        .add-animals .add-animals-form form .save-btn-container {
          margin-top: 40px; } }
      .add-animals .add-animals-form form .save-btn-container .save-btn {
        background: #1d74c1;
        color: white;
        width: 267px;
        height: 88px;
        font-size: 25px;
        font-weight: 400;
        border-radius: 21px;
        transition: 0.5s ease; }
        .add-animals .add-animals-form form .save-btn-container .save-btn:hover {
          opacity: 80%; }
        @media (max-width: 1440px) {
          .add-animals .add-animals-form form .save-btn-container .save-btn {
            height: unset; } }
    .add-animals .add-animals-form form .form-inner-margin {
      margin-bottom: 50px; }
    .add-animals .add-animals-form form .padding-right {
      padding-right: 20px; }
    .add-animals .add-animals-form form label {
      font-size: 22px;
      font-weight: 400;
      color: #94a6c7;
      margin-bottom: 20px; }
    .add-animals .add-animals-form form input {
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      height: 89px;
      border: 1px solid #bedaf1;
      border-radius: 11px; }
      @media (max-width: 1440px) {
        .add-animals .add-animals-form form input {
          height: unset; } }
    .add-animals .add-animals-form form textarea {
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      border: 1px solid #bedaf1;
      border-radius: 11px;
      resize: none; }
    .add-animals .add-animals-form form ::-webkit-input-placeholder {
      /* Edge */
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      opacity: 70%; }
    .add-animals .add-animals-form form :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      opacity: 70%; }
    .add-animals .add-animals-form form ::placeholder {
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      opacity: 70%; }
    .add-animals .add-animals-form form .age .col-md-4 .input-group {
      display: flex;
      flex-direction: row-reverse;
      border-radius: 11px; }
      .add-animals .add-animals-form form .age .col-md-4 .input-group .input-group-prepend {
        text-align: center;
        border-radius: 11px; }
        .add-animals .add-animals-form form .age .col-md-4 .input-group .input-group-prepend .input-group-text {
          border-radius: 11px;
          background: #BEDAF1;
          max-width: 96px;
          justify-content: center;
          font-size: 18px;
          font-weight: 300;
          color: white;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          max-height: 89px;
          border: 1px solid #BEDAF1; }
      .add-animals .add-animals-form form .age .col-md-4 .input-group input {
        max-width: 95px;
        border-radius: 11px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
    .add-animals .add-animals-form form select {
      font-size: 22px;
      color: #94a6c7;
      font-weight: 300;
      height: 89px;
      border: 1px solid #bedaf1;
      border-radius: 11px; }
      @media (max-width: 1440px) {
        .add-animals .add-animals-form form select {
          height: 47px; } }
    .add-animals .add-animals-form form small {
      color: #94A6C7;
      font-weight: 300;
      font-size: 15px; }
      @media (max-width: 1440px) {
        .add-animals .add-animals-form form small {
          font-size: 12px; } }
    .add-animals .add-animals-form form .radio-container .radio-block {
      margin-right: 70px; }
      .add-animals .add-animals-form form .radio-container .radio-block input[type='radio'] {
        border-color: #BEDAF1;
        border: 1px solid #BEDAF1;
        background: #BEDAF1;
        height: unset !important; }
      .add-animals .add-animals-form form .radio-container .radio-block label {
        margin-left: 10px; }
    .add-animals .add-animals-form form .upload-image-inner {
      display: flex;
      flex-direction: row;
      width: 100%;
      background: #F9FCFF;
      border-radius: 11px;
      border: 1px solid #BEDAF1;
      padding: 30px; }
      .add-animals .add-animals-form form .upload-image-inner .upload {
        margin-right: 30px; }
        .add-animals .add-animals-form form .upload-image-inner .upload .custom-file {
          width: 168px;
          height: 168px; }
          .add-animals .add-animals-form form .upload-image-inner .upload .custom-file label {
            font-size: 22px;
            color: #94a6c7;
            font-weight: 300;
            height: 89px;
            border: 2px dashed #1D73C2;
            border-radius: 11px;
            overflow: hidden;
            align-items: center;
            display: flex; }
            @media (max-width: 1440px) {
              .add-animals .add-animals-form form .upload-image-inner .upload .custom-file label {
                height: unset; } }
          .add-animals .add-animals-form form .upload-image-inner .upload .custom-file .mycustom-file-label {
            margin-bottom: 0;
            width: 168px;
            height: 168px;
            text-align: center;
            border: 2px dashed #1D73C2;
            border-radius: 11px;
            cursor: pointer; }
            .add-animals .add-animals-form form .upload-image-inner .upload .custom-file .mycustom-file-label .icon-and-text {
              text-align: center;
              margin: 0 auto; }
              .add-animals .add-animals-form form .upload-image-inner .upload .custom-file .mycustom-file-label .icon-and-text i {
                color: #1D75C2;
                font-size: 27px; }
              .add-animals .add-animals-form form .upload-image-inner .upload .custom-file .mycustom-file-label .icon-and-text p {
                font-size: 15px;
                font-weight: 300;
                color: #1D75C2; }
            .add-animals .add-animals-form form .upload-image-inner .upload .custom-file .mycustom-file-label::after {
              background: transparent;
              border-left: none;
              font-family: FontAwesome;
              content: "";
              color: #94a6c7;
              top: 0; }
          .add-animals .add-animals-form form .upload-image-inner .upload .custom-file input[type="file"] {
            width: 168px;
            display: none;
            height: 168px;
            font-size: 22px;
            color: #94a6c7;
            font-weight: 300;
            max-height: 89px; }
      .add-animals .add-animals-form form .upload-image-inner .show-img {
        width: 168px;
        height: 168px;
        border: 2px solid #94A6C7;
        border-radius: 16px;
        margin-right: 30px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center; }
        .add-animals .add-animals-form form .upload-image-inner .show-img img {
          width: 100%;
          height: 100%;
          display: none; }
        .add-animals .add-animals-form form .upload-image-inner .show-img p {
          font-size: 15px;
          font-weight: 300; }
      .add-animals .add-animals-form form .upload-image-inner #main-image img {
        width: 100%;
        height: 100%; }
