.animal-type-link-path {
    background: $white;
    height: 58px;
    // max-width: 412px;
    padding-top: 18px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 37px;

    span {
        font-size: 18px;
        font-weight: $mregular !important;
        color: #1e3e59 !important;
    }
}

// Animal Type Section
.animal-type-section {
    .animal-type-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;

        .animal-type-top-left {
            padding-top: 12px;

            h5 {
                font-size: 25px;
                color: #1e3e59;
                font-weight: $mregular;
                margin-bottom: 0;
            }
        }

        .animal-type-top-right {
            .plus-btn {
                background: rgb(35, 101, 198);
                background: linear-gradient(90deg,
                        rgba(35, 101, 198, 1) 0%,
                        rgba(35, 101, 198, 1) 35%,
                        rgba(23, 131, 189, 1) 100%);
                border-radius: 38px;
                width: 183px;
                height: 55px;
                font-size: 18px;
                font-weight: $mregular;
                position: relative;
                padding-left: 30px;

                .add-icon {
                    position: absolute;
                    left: 25px;
                }
            }

            .modal {
                .modal-dialog {
                    .modal-content {
                        border-radius: 20px;
                        .modal-header {
                            border-bottom: 1px solid #B8D5EC;

                            h5 {
                                font-size: 30px;
                                font-weight: $mregular;
                                color: #203459;
                            }
                            .close{
                                &:focus{
                                    outline: none;
                                    border: none;
                                    box-shadow: none;
                                }
                            }

                        }

                        .modal-body {
                            h5 {
                                color: #203459;
                                font-size: 25px;
                                font-weight: $mregular;
                                margin-bottom: 0;
                            }

                            p {
                                font-size: 18px;
                                font-weight: $mlight;
                                color: #94A6C7;
                            }

                            .animal-form {
                                form {
                                    .form-group {
                                        label {
                                            font-size: 16px;
                                            color: #94A6C7;
                                            font-weight: $mregular;
                                            text-transform: capitalize;
                                        }

                                        textarea {
                                            font-size: 16px;
                                            color: #94A6C7;
                                            font-weight: $mlight;
                                            border: 1px solid #BEDAF1;
                                            border-radius: 11px;
                                            resize: none;
                                            background: #F9FCFF;
                                        }

                                        input {
                                            background: #F9FCFF;
                                            border: 1px solid #BEDAF1;
                                            border-radius: 11px;
                                            font-size: 16px;
                                            color: #94A6C7;
                                            font-weight: $mlight;
                                        }

                                        ::-webkit-input-placeholder {
                                            /* Edge */
                                            font-size: 16px;
                                            color: #94A6C7;
                                            font-weight: $mlight;
                                        }

                                        :-ms-input-placeholder {
                                            /* Internet Explorer 10-11 */
                                            font-size: 16px;
                                            color: #94A6C7;
                                            font-weight: $mlight;
                                        }

                                        ::placeholder {
                                            font-size: 16px;
                                            color: #94A6C7;
                                            font-weight: $mlight;
                                        }
                                    }

                                    .custom-file {
                                        background: #F9FCFF;
                                        label {
                                            font-size: 16px;
                                            color: #94A6C7;
                                            font-weight: $mlight;
                                            border: 1px solid #BEDAF1 !important;
                                            border-radius: 11px !important;
                                            overflow: hidden;
                                            align-items: center;
                                            display: flex;
                                            background: #F9FCFF;
                                        }

                                        .custom-file-label {

                                            &::after {
                                                background: transparent;
                                                border-left: none;
                                                font-family: FontAwesome;
                                                content: "\f093";
                                                color: #94A6C7;

                                            }
                                        }

                                        input[type="file"] {
                                            font-size: 22px;
                                            color: #94A6C7;
                                            font-weight: $mlight;
                                            max-height: 89px;
                                            border: 1px solid #BEDAF1 !important;
                                            border-radius: 11px !important;
                                            background: #F9FCFF;
                                        }
                                    }

                                    .save-btn-container {
                                        margin-top: 33px;

                                        .save-btn {

                                            background: rgb(35, 101, 198);
                                            background: linear-gradient(90deg,
                                                    rgba(35, 101, 198, 1) 0%,
                                                    rgba(35, 101, 198, 1) 35%,
                                                    rgba(23, 131, 189, 1) 100%);
                                            color: $white;
                                            border-radius: 11px;
                                            font-weight: $mregular;
                                            font-size: 18px;
                                            transition: 0.5s ease;
                                            padding: 5px 60px;

                                            &:hover {
                                                opacity: 80%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .animal-list {
        box-shadow: 0 3px 6px #707070;
        border-radius: 13px;
        overflow: hidden;
        margin-top: 50px;
        background: $white;
        margin-bottom: 200px;

        .animal-list-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: rgb(35, 101, 198);
            background: linear-gradient(90deg,
                    rgba(35, 101, 198, 1) 0%,
                    rgba(35, 101, 198, 1) 35%,
                    rgba(23, 131, 189, 1) 100%);
            padding: 25px 25px;

            height: 102px;

            .animal-list-header-left {
                h5 {
                    margin-bottom: 0;
                    padding-top: 12px;
                    color: $white;
                    font-size: 25px;
                    font-weight: $mregular;
                }
            }

            .animal-list-header-right {
                .search-container {
                    position: relative;
                    height: 53px;

                    .search-box {
                        position: relative;
                        margin-right: 70px;
                        display: none;

                        input {
                            // background: red;
                            width: inherit;

                            // transform-origin: left;
                            padding-right: 50px;
                            padding: 12px 50px 12px 12px;
                            border: 1px solid #707070;
                            border-radius: 37px;
                            outline: none;
                            transition: 0.4s linear;
                            font-size: 18px;
                            font-weight: $mregular;
                            color: #203459;

                            ::-webkit-input-placeholder {
                                /* Edge */
                                color: #94a6c7;
                                font-weight: $mlight;
                            }

                            :-ms-input-placeholder {
                                /* Internet Explorer 10-11 */
                                color: #94a6c7;
                                font-weight: $mlight;
                            }

                            ::placeholder {
                                color: #94a6c7;
                                font-weight: $mlight;
                            }
                        }

                        .search-inner {
                            position: absolute;
                            right: 30px;
                            top: 50%;
                            transform: translate(50%, -50%);
                            transition: 0.4s linear;
                        }
                    }

                    .search-show {
                        position: absolute;
                        right: 30px;
                        top: 50%;
                        transform: translate(50%, -50%);
                        cursor: pointer;
                    }

                    .search-hide {
                        position: absolute;
                        font-size: 24px;
                        color: $white;
                        display: none;
                        right: 30px;
                        top: 50%;
                        transform: translate(50%, -50%);
                        cursor: pointer;
                    }
                }
            }
        }

        .animal-list-body {

            // Table Inner Design Start
            .table {
                tbody {
                    tr {
                        td {
                            vertical-align: middle;

                            .type-categories-brand {
                                @media (max-width: 1440px) {
                                    max-width: 300px;
                                }

                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                .left {
                                    img {
                                        border-radius: 15px;
                                        width: 81px;
                                        height: 81px;
                                    }
                                }

                                .right {
                                    padding-top: 12px;
                                    margin-left: 20px;

                                    h6 {
                                        font-size: 15px;
                                        font-weight: $mregular;
                                        color: #1e3e59;
                                        margin-bottom: 15px;
                                    }

                                    p {
                                        font-size: 13px;
                                        font-weight: $mlight;
                                        color: #94a6c7;
                                        max-width: 185px;
                                        line-height: 15px;
                                    }
                                }
                            }

                            .type-id {
                                font-size: 15px;
                                font-weight: $mregular;
                                color: #1e3e59;
                            }

                            .date {
                                font-size: 15px;
                                font-weight: $mregular;
                                color: #1e3e59;
                            }

                            .status {
                                font-size: 15px;
                                font-weight: $mregular;
                                color: #1e3e59;
                            }

                            .success {
                                color: #15b14e !important;
                            }

                            .danger {
                                color: #e82835 !important;
                            }

                            .action {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                .edit {
                                    .edit-btn {
                                        font-size: 15px;
                                        font-weight: $mmedium;
                                        color: #1e3e59;
                                        padding: 0;
                                        background: transparent;
                                        border: none;
                                        outline: none;

                                        &:focus {
                                            outline: none;
                                            border: none;
                                            box-shadow: none;
                                        }

                                        span {
                                            margin-left: 5px;
                                        }
                                    }
                                }

                                .view {
                                    .view-btn {
                                        font-size: 15px;
                                        font-weight: $mmedium;
                                        color: #1e3e59;
                                        padding: 0;
                                        background: transparent;
                                        border: none;
                                        outline: none;

                                        &:focus {
                                            outline: none;
                                            border: none;
                                            box-shadow: none;
                                        }

                                        span {
                                            margin-left: 5px;
                                        }
                                    }
                                }

                                .delete {
                                    .delete-btn {
                                        font-size: 15px;
                                        font-weight: $mmedium;
                                        color: #1e3e59;
                                        padding: 0;
                                        background: transparent;
                                        border: none;
                                        outline: none;

                                        &:focus {
                                            outline: none;
                                            border: none;
                                            box-shadow: none;
                                        }

                                        span {
                                            margin-left: 5px;
                                        }
                                    }
                                }
                            }
                        }

                        .first-td-width {
                            @media (max-width: 1440px) {
                                max-width: 320px;
                            }
                        }
                    }
                }

                thead {
                    tr {
                        .first-td-width {
                            @media (max-width: 1366px) {
                                max-width: 320px;
                            }
                        }
                    }
                }
            }

            // Table Inner Design End

            .table-bordered>tbody>tr>td,
            .table-bordered>tbody>tr>th,
            .table-bordered>thead>tr>td,
            .table-bordered {
                border-bottom: 0;
                border-top: 0;
                border-right: 1px solid #b8d5ec;
                padding-left: 25px;
            }

            .table-bordered>thead>tr>th,
            .bottomborder,
            .table-bordered {
                border-bottom: 1px solid #b8d5ec;
                border-right: 1px solid #b8d5ec;
                padding-left: 25px;
            }

            .table {
                thead {
                    tr {
                        th {
                            font-size: 20px;
                            font-weight: $mregular;
                            color: #1e3e59;
                        }
                    }
                }
            }

            .table-bordered>thead>tr,
            .borderleft,
            .table-bordered {
                border-left: 0;
            }

            .table-bordered>thead>tr,
            .borderright,
            .table-bordered {
                border-right: 0;
            }
        }

        .animal-list-pagination {
            display: flex;
            justify-content: flex-end;
            padding: 20px 25px;

            nav {
                ul {
                    li {
                        margin-right: 15px;

                        &:first-child {
                            border-radius: 6px;
                        }

                        .pagination-active {
                            color: $white;
                            background: #197DBE;
                        }

                        a {
                            border-radius: 6px;
                            width: 26px;
                            height: 26px;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            border: 1px solid #B8D5EC;

                            font-size: 15px;
                            color: #1E3E59;
                            font-weight: $mregular;
                        }
                    }
                }

                .pagination-sm .page-item:first-child .page-link {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }

                .pagination-sm .page-item:last-child .page-link {
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }
    }
}

// Animal Type Section