.animal-detail-wrapper {
    background: $white;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 200px;
    margin-top: 50px;
    -webkit-box-shadow: 10px 0px 10px 0px rgba(36, 41, 68, 0.03);
    -moz-box-shadow: 10px 0px 10px 0px rgba(36, 41, 68, 0.03);
    box-shadow: 10px 0px 10px 0px rgba(36, 41, 68, 0.03);

    h5 {
        color: #1E3E59;
        font-size: 20px;
        font-weight: $mregular;
    }

    .animal-detail-left {
        .img {
            max-width: 495px;
            max-height: 495px;
            border: 1px solid #707070;
            border-radius: 24px;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 24px;
            }
        }

        .small-img-container {
            margin-top: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media(max-width: 1750px) {
                margin-top: 50px;
            }

            img {
                width: 87px;
                height: 87px;
                cursor: pointer;

                @media(max-width: 1850px) {
                    width: 80px;
                    height: 80px;
                }

                @media(max-width: 1750px) {
                    width: 75px;
                    height: 75px;
                }

                @media(max-width: 1650px) {
                    width: 70px;
                    height: 70px;
                }

                @media(max-width: 1550px) {
                    width: 65px;
                    height: 65px;
                }

                @media(max-width: 1500px) {
                    width: 60px;
                    height: 60px;
                }

                @media(max-width: 1420px) {
                    width: 55px;
                    height: 55px;
                }

            }
        }

    }

    .animal-detail-right {
        padding-left: 81px;

        @media(max-width: 1896px) {
            padding-left: 70px;
        }

        @media(max-width: 1863px) {
            padding-left: 50px;
        }

        @media(max-width: 1803px) {
            padding-left: 40px;
        }

        @media(max-width: 1750px) {
            padding-left: 35px;
        }

        @media(max-width: 1700px) {
            padding-left: 30px;
        }

        @media(max-width: 1600px) {
            padding-left: 25px;
        }

        @media(max-width: 1500px) {
            padding-left: 15px;
        }

        @media(max-width: 1440px) {
            padding-left: 5px;
        }

        .personal-details {

            .animal-detail-right {
                h3 {
                    color: #203459;
                    font-size: 30px;
                    font-weight: $mregular;
                    margin-bottom: 16px;

                    span {
                        font-weight: $mlight;
                        color: #216AC5;
                    }

                    @media(max-width: 1800px) {
                        font-size: 28px;
                    }

                    @media(max-width: 1750px) {
                        font-size: 25px;
                        margin-bottom: 10px;
                    }

                    @media(max-width: 1500px) {
                        font-size: 22px;
                    }
                }

                h2 {
                    color: #203459;
                    font-size: 45px;
                    font-weight: $mregular;
                    margin-bottom: 20px;

                    @media(max-width: 1800px) {
                        font-size: 43px;
                    }

                    @media(max-width: 1750px) {
                        font-size: 40px;
                        margin-bottom: 15px;
                    }

                    @media(max-width: 1500px) {
                        font-size: 37px;
                        margin-bottom: 12px;
                    }
                }

                h5 {
                    font-weight: $mlight;
                    color: #94A6C7;
                    font-size: 30px;
                    margin-bottom: 40px;

                    @media(max-width: 1800px) {
                        font-size: 28px;
                    }

                    @media(max-width: 1750px) {
                        font-size: 25px;
                        margin-bottom: 30px;
                    }

                    @media(max-width: 1500px) {
                        font-size: 22px;
                        margin-bottom: 25px;
                    }
                }

                h6 {
                    color: #203459;
                    font-size: 30px;
                    font-weight: $mregular;

                    @media(max-width: 1800px) {
                        font-size: 28px;
                    }

                    @media(max-width: 1750px) {
                        font-size: 25px;
                    }

                    @media(max-width: 1500px) {
                        font-size: 22px;
                    }
                }

                p {
                    font-size: 25px;
                    font-weight: $mlight;
                    color: #94A6C7;
                    line-height: 40px;

                    @media(max-width: 1800px) {
                        font-size: 22px;
                    }

                    @media(max-width: 1750px) {
                        font-size: 20px;
                        line-height: 35px;
                    }

                    @media(max-width: 1600px) {
                        font-size: 20px;
                        line-height: 30px;
                    }

                    @media(max-width: 1500px) {
                        font-size: 18px;
                    }

                    @media(max-width: 1440px) {
                        font-size: 16px;
                    }
                }

                .breed-sex-request {
                    margin-top: 70px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    @media(max-width: 1800px) {
                        margin-top: 40px;
                    }

                    .breed-sex {
                        display: flex;
                        flex-direction: row;

                        .breed {
                            width: 131px;
                            height: 132px;
                            border: 1px solid #707070;
                            border-radius: 18px;
                            position: relative;

                            @media(max-width: 1750px) {
                                width: 121px;
                                height: 122px;
                            }

                            @media(max-width: 1600px) {
                                width: 111px;
                                height: 112px;
                            }

                            @media(max-width: 1500px) {
                                width: 100px;
                                height: 101px;
                            }

                            .breed-inner {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                text-align: center;

                                h6 {
                                    color: #203459;
                                    font-size: 25px;
                                    font-weight: $mregular;

                                    @media(max-width: 1800px) {
                                        font-size: 22px;
                                    }

                                    @media(max-width: 1750px) {
                                        font-size: 20px;
                                    }

                                    @media(max-width: 1500px) {
                                        font-size: 18px;
                                    }
                                }

                                p {
                                    color: #94A6C7;
                                    margin: 0;
                                    font-size: 25px;
                                    font-weight: $mlight;

                                    @media(max-width: 1800px) {
                                        font-size: 22px;
                                    }

                                    @media(max-width: 1750px) {
                                        font-size: 20px;
                                    }

                                    @media(max-width: 1500px) {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }

                        .sex {
                            width: 131px;
                            height: 132px;
                            border: 1px solid #707070;
                            border-radius: 18px;
                            position: relative;
                            margin-left: 50px;

                            @media(max-width: 1750px) {
                                width: 121px;
                                height: 122px;
                            }

                            @media(max-width: 1600px) {
                                width: 111px;
                                height: 112px;
                                margin-left: 40px;
                            }

                            @media(max-width: 1500px) {
                                width: 100px;
                                height: 101px;
                            }

                            .sex-inner {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                text-align: center;

                                h6 {
                                    color: #203459;
                                    font-size: 25px;
                                    font-weight: $mregular;

                                    @media(max-width: 1800px) {
                                        font-size: 22px;
                                    }

                                    @media(max-width: 1750px) {
                                        font-size: 20px;
                                    }

                                    @media(max-width: 1750px) {
                                        font-size: 20px;
                                    }

                                    @media(max-width: 1500px) {
                                        font-size: 18px;
                                    }
                                }

                                p {
                                    color: #94A6C7;
                                    margin: 0;
                                    font-size: 25px;
                                    font-weight: $mlight;

                                    @media(max-width: 1800px) {
                                        font-size: 22px;
                                    }

                                    @media(max-width: 1750px) {
                                        font-size: 20px;
                                    }

                                    @media(max-width: 1500px) {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }

                    .request-btn-container {
                        .request-home-btn {
                            background-color: #1C78C1;
                            border-radius: 36px;
                            color: $white;
                            font-weight: $mregular;
                            font-size: 24px;
                            padding: 17px 65px;
                            transition: 0.5s ease;

                            @media(max-width: 1800px) {
                                font-size: 22px;
                            }

                            @media(max-width: 1750px) {
                                font-size: 20px;
                            }

                            @media(max-width: 1600px) {
                                padding: 15px 50px;
                                font-size: 18px;
                            }

                            @media(max-width: 1500px) {
                                padding: 12px 40px;
                                font-size: 16px;
                            }

                            &:hover {
                                opacity: 80%;
                            }

                        }
                    }
                }
            }



        }
    }

    .remove-edit-container {
        padding-bottom: 15px;
        padding-top: 20px;
        margin-top: 80px;

        .remove {
            background: #F15E6D;
            color: $white;
            border-radius: 11px;
            font-size: 16px;
            font-weight: $mlight;
            padding: 10px 30px;
            transition: 0.5s ease;

            &:hover {
                opacity: 80%;
            }
        }

        .edit {
            margin-left: 50px;
            background: #1D74C1;
            color: $white;
            border-radius: 13px;
            font-size: 16px;
            font-weight: $mlight;
            padding: 10px 35px;
            transition: 0.5s ease;

            &:hover {
                opacity: 80%;
            }
        }
    }
}