.shelter-info-wrapper {
    background: $white;
    border-radius: 27px;
    padding: 30px;
    margin-bottom: 200px;
    margin-top: 50px;

    h5 {
        color: #1E3E59;
        font-size: 20px;
        font-weight: $mregular;
        margin-bottom: 20px;
    }

    .shelter-info-left {
        word-wrap: break-word;

        .img {
            max-width: 372px;
            max-height: 372px;
            border: 1px solid #707070;
            border-radius: 23px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .name {
            margin-top: 20px;
            h6 {
                font-size: 35px;
                font-weight: $mregular;
                color: #1D75C2;
                @media(max-width: 1613px){
                    font-size: 34px;
                }
                @media(max-width: 1581px){
                    font-size: 32px;
                }
                @media(max-width: 1549px){
                    font-size: 31px;
                }
                @media(max-width: 1517px){
                    font-size: 30px;
                }
                @media(max-width: 1485px){
                    font-size: 29px;
                }
                @media(max-width: 1453px){
                    font-size: 28px;
                }
                @media(max-width: 1421px){
                    font-size: 27px;
                }
                @media(max-width: 1389px){
                    font-size: 26px;
                }
                @media(max-width: 1357px){
                    font-size: 25px;
                }
                @media(max-width: 1325px){
                    font-size: 24px;
                }
                @media(max-width: 1293px){
                    font-size: 23px;
                }
                @media(max-width: 1261px){
                    font-size: 22px;
                }
                @media(max-width: 1229px){
                    font-size: 22px;
                }
            }
        }

        .detail-address {
            p {
                color: #94A6C7;
                font-size: 20px;
                font-weight: $mlight;
                max-width: 372px;

                @media(max-width: 1650px){
                    font-size: 18px;
                }

                @media(max-width: 1440px){
                    font-size: 16px;
                }
            }
        }

        .social-link {
            margin-top: 20px;

            h6 {
                font-size: 25px;
                font-weight: $mregular;
                color: #203459;
                margin-bottom: 16px;

                @media(max-width: 1638px) {
                    font-size: 22px;
                }

                @media(max-width: 1424px) {
                    font-size: 18px;
                }
            }

            .link {
                .facebook {
                    margin-bottom: 15px;

                    i {
                        font-size: 27px;

                        @media(max-width: 1745px) {
                            font-size: 28px;
                        }
                        @media(max-width: 1500px){
                            font-size: 22px;
                        }

                        @media(max-width: 1440px) {
                            font-size: 20px;
                        }
                    }

                    span {
                        font-size: 22px;
                        font-weight: $mlight;
                        color: #192231;
                        margin-left: 10px;
                        @media(max-width: 1780px){
                            margin-left: 5px;
                            font-size: 20px;
                        }

                      

                        @media(max-width: 1745px) {
                            font-size: 18px;
                        }

                        @media(max-width: 1638px) {
                            font-size: 17px;
                        }

                        @media(max-width: 1500px){
                            font-size: 16px;
                        }

                        @media(max-width: 1424px) {
                            font-size: 15px;
                        }
                    }
                }

                .instagram {
                    i {
                        color: #EF4F4F;
                        font-size: 30px;

                        @media(max-width: 1745px) {
                            font-size: 28px;
                        }

                        @media(max-width: 1500px){
                            font-size: 22px;
                        }

                        @media(max-width: 1440px) {
                            font-size: 20px;
                        }
                    }

                    span {
                        font-size: 22px;
                        font-weight: $mlight;
                        color: #192231;
                        margin-left: 10px;

                        @media(max-width: 1780px){
                            margin-left: 5px;
                            font-size: 20px;
                        }

                        @media(max-width: 1745px) {
                            font-size: 18px;
                        }

                        @media(max-width: 1638px) {
                            font-size: 17px;
                        }
                        @media(max-width: 1500px){
                            font-size: 16px;
                        }

                        @media(max-width: 1424px) {
                            font-size: 15px;
                            margin-left: 0;
                        }
                    }
                }
            }
            .myfacebook{
                margin-bottom: 20px;
            }
        }
    }

    .shelter-info-right {
        .personal-details {
            word-wrap: break-word;

            h3 {
                font-size: 30px;
                font-weight: $mregular;
                color: #1E3E59;
            }

            .name-email {
                margin-bottom: 20px;
    
                @media(max-width: 1400px) {
                    margin-bottom: 15px;
                }
    
                .name {
    
    
                    h5 {
                        font-size: 25px;
                        font-weight: $mregular;
                        color: #203459;
                        margin-bottom: 10px;
    
                        @media(max-width: 1638px) {
                            font-size: 22px;
                        }
    
                        @media(max-width: 1505px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1424px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1400px) {
                            font-size: 17px;
                        }
                    }
    
                    p {
                        color: #94A6C7;
                        font-size: 22px;
                        font-weight: $mlight;
    
                        @media(max-width: 1745px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1638px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1547px) {
                            font-size: 16px;
                        }
                    }
                }
    
                .email {
                    word-wrap: break-word;
    
                    h5 {
                        font-size: 25px;
                        font-weight: $mregular;
                        color: #203459;
                        margin-bottom: 10px;
    
                        @media(max-width: 1638px) {
                            font-size: 22px;
                        }
    
                        @media(max-width: 1505px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1424px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1400px) {
                            font-size: 17px;
                        }
                    }
    
                    p {
                        color: #94A6C7;
                        font-size: 22px;
                        font-weight: $mlight;
    
                        @media(max-width: 1745px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1638px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1547px) {
                            font-size: 16px;
                        }
                    }
    
                }
    
                .col-md-5 {
                    @media(max-width: 1400px) {
                        padding-left: 0;
                    }
                }
    
            }

            .address-mobile-number {
                margin-bottom: 40px;
    
                @media(max-width: 1400px) {
                    margin-bottom: 20px;
                }
    
                .address {
    
                    h5 {
                        font-size: 25px;
                        font-weight: $mregular;
                        color: #203459;
                        margin-bottom: 10px;
    
                        @media(max-width: 1638px) {
                            font-size: 22px;
                        }
    
                        @media(max-width: 1505px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1424px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1400px) {
                            font-size: 17px;
                        }
                    }
    
                    p {
                        color: #94A6C7;
                        font-size: 22px;
                        font-weight: $mlight;
                        max-width: 409px;
    
                        @media(max-width: 1745px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1638px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1547px) {
                            font-size: 16px;
                        }
                    }
                }
    
                .mobile-number {
                    h5 {
                        font-size: 25px;
                        font-weight: $mregular;
                        color: #203459;
                        margin-bottom: 10px;
    
                        @media(max-width: 1638px) {
                            font-size: 22px;
                        }
    
                        @media(max-width: 1505px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1424px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1400px) {
                            font-size: 17px;
                        }
                    }
    
                    p {
                        color: #94A6C7;
                        font-size: 22px;
                        font-weight: $mlight;
    
                        @media(max-width: 1745px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1638px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1547px) {
                            font-size: 16px;
                        }
                    }
                }
    
                .col-md-5 {
                    @media(max-width: 1400px) {
                        padding-left: 0;
                    }
                }
    
            }

            .shelter-description {
                h5 {
                    font-size: 25px;
                    font-weight: $mregular;
                    color: #203459;
                    margin-bottom: 10px;
    
                    @media(max-width: 1638px) {
                        font-size: 22px;
                    }
    
                    @media(max-width: 1505px) {
                        font-size: 20px;
                    }
    
                    @media(max-width: 1424px) {
                        font-size: 18px;
                    }
    
                    @media(max-width: 1400px) {
                        font-size: 17px;
                    }
                }
    
                p {
                    color: #94A6C7;
                    font-size: 22px;
                    font-weight: $mlight;
                    line-height: 40px;
    
                    @media(max-width: 1745px) {
                        font-size: 20px;
                        line-height: 30px;
                    }
    
                    @media(max-width: 1638px) {
                        font-size: 18px;
                    }
    
                    @media(max-width: 1547px) {
                        font-size: 16px;
                    }
                }
            }

            .deathbirth-family-status {
                margin-bottom: 20px;
    
                @media(max-width: 1400px) {
                    margin-bottom: 15px;
                }
    
                .date-of-birth {
                    h5 {
                        font-size: 25px;
                        font-weight: $mregular;
                        color: #203459;
                        margin-bottom: 10px;
    
                        @media(max-width: 1638px) {
                            font-size: 22px;
                        }
    
                        @media(max-width: 1505px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1424px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1400px) {
                            font-size: 17px;
                        }
                    }
    
                    p {
                        color: #94A6C7;
                        font-size: 22px;
                        font-weight: $mlight;
    
                        @media(max-width: 1745px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1638px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1547px) {
                            font-size: 16px;
                        }
                    }
                }
    
                .family-status {
                    h5 {
                        font-size: 25px;
                        font-weight: $mregular;
                        color: #203459;
                        margin-bottom: 10px;
    
                        @media(max-width: 1638px) {
                            font-size: 22px;
                        }
    
                        @media(max-width: 1505px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1424px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1400px) {
                            font-size: 17px;
                        }
                    }
    
                    p {
                        color: #94A6C7;
                        font-size: 22px;
                        font-weight: $mlight;
    
                        @media(max-width: 1745px) {
                            font-size: 20px;
                        }
    
                        @media(max-width: 1638px) {
                            font-size: 18px;
                        }
    
                        @media(max-width: 1547px) {
                            font-size: 16px;
                        }
                    }
                }
    
                .col-md-5 {
                    @media(max-width: 1550px) {
                        padding-right: 0;
                    }
    
                    @media(max-width: 1400px) {
                        padding-left: 0;
                    }
                }
    
    
    
    
            }
            .children {
                h5 {
                    font-size: 25px;
                    font-weight: $mregular;
                    color: #203459;
                }

                p {
                    color: #94A6C7;
                    font-size: 22px;
                    font-weight: $mlight;
                }
            }
        }
    }
    .remove-edit-container{
        padding-bottom: 15px;
        padding-top: 20px;
        .remove{
            background: #F15E6D;
            color: $white;
            border-radius: 11px;
            font-size: 16px;
            font-weight: $mlight;
            padding: 10px 30px;
            transition: 0.5s ease;

            &:hover {
                opacity: 80%;
            }
        }
        .edit{
            margin-left: 50px;
            background: #1D74C1;
            color: $white;
            border-radius: 13px;
            font-size: 16px;
            font-weight: $mlight;
            padding: 10px 35px;
            transition: 0.5s ease;

            &:hover {
                opacity: 80%;
            }
        }
    }
}